section.agency-list .empty-list {
  margin-top: 15px;
  text-align: center;
  width: 250px;
  margin-left: calc(50% - 125px);
}

section.agency-list {
  padding-top: 10px;
  margin: 0 10px;
  width: 100%;
  max-width: 480px;
}

section.agency-list article {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  font-size: 12px;
  padding: 25px;
  margin-bottom: 15px;
  height: 85px;
}

section.agency-list article .agency-item {
  position: absolute;
  left: 15px;
  top: 25px;
}

section.agency-list article .agency-item .agency-item-avatar {
  float: left;
  display: inline;
  margin-top: 3px;
  color: #333;
  width: 60px;
  height: 34px;
}

section.agency-list article .agency-item .agency-item-avatar img {
  max-width: 100%;
  max-height: 100%;
}

section.agency-list article .agency-item .agency-item-title {
  display: inline;
  font-size: 1.7em;
  margin-left: 20px;
  text-size-adjust: none;
  line-height: 1.3em;
  text-decoration: none;
  color: #333;
  word-break: break-word;
}

section.agency-list article .agency-actions {
  position: absolute;
  right: 10px;
  width: 160px;
}

section.agency-list article .agency-actions a,
section.agency-list article .agency-actions button {
  float: right;
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
  section.agency-list article {
    margin-left: calc(50% - 300px);
    width: 600px;
  }

  section.agency-list article .agency-item {
    width: 370px;
  }
}
