section.property-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  padding-top: 10px;
}

section.property-list .empty-list {
  margin-top: 15px;
  text-align: center;
  width: 250px;
}

section.property-list article {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  font-size: 12px;
  margin-bottom: 10px;
  /* min-height: 430px; */
  width: 800px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.property-list article div.left-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 200px;
}

section.property-list article div.left-panel .property-img {
  margin-top: 15px;
  margin-bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

section.property-list article div.left-panel div.property-agency a.property-agency-info {
  color: #0064c8;
  text-decoration: underline;
  font-size: 0.9em;
  line-height: 1em;
  white-space: nowrap;
  margin-left: 5px;
}

section.property-list article div.middle-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section.property-list article div.middle-panel div.name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 7px 11px;
  pointer-events: none;
}

section.property-list article div.middle-panel div.name h2 {
  font-size: 2em;
  font-weight: 700;
  text-size-adjust: none;
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.property-list article div.middle-panel .property-info div.property-info-description {
  max-width: 400px;
}

section.property-list article div.right-panel div.price {
  color: #383838;
  font-size: 2em;
  font-weight: 700;
  white-space: nowrap;
}

section.property-list article div.right-panel div.action {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* Device width is between 500px and 960px */

@media only screen and (width >=500px) and (width <=960px) {
  section.property-list {
    max-width: 480px;
  }
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  section.property-list {
    flex: 0 1 auto;
  }

  section.property-list article {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    font-size: 12px;
    margin: 0 1px 10px;
    min-height: 730px;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  section.property-list article div.left-panel {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
  }

  section.property-list article div.right-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
