div.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden auto;
}

div.home div.home-cover {
  z-index: 2;
  color: #fff;
  text-align: center;
  letter-spacing: -.03em;
  -webkit-font-smoothing: antialiased;
}

div.home div.home-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/cover.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
}

div.home div.home-content::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgb(51 51 51 / 32%);
  clear: both;
  z-index: 1;
}

div.home div.home-content div.home-search {
  box-shadow: 0 3px 5px -1px #0003, 0 1px 18px 0 #0000001F, 0 6px 10px 0 #00000024;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  z-index: 2;
  background-color: #fff;
}

div.home div.destinations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 50px 0 60px;
}

div.home div.destinations h1 {
  width: fit-content;
  font-weight: 500;
}

div.home div.destinations div.tabs {
  width: 100%;
}

div.home div.home-map {
  width: 80%;
  margin: 15px 0 30px;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  div.home div.home-cover {
    font-size: 40px;
    font-weight: 800;
    padding: 20px 5px 10px;
  }

  div.home div.home-content {
    padding: 110px 0;
    justify-content: flex-start !important;
    height: 800px;
  }

  div.home div.home-content div.home-search {
    width: calc(100% - 40px);
    padding: 20px;
    margin: 10px 0;
  }

  div.home div.home-map {
    width: 100%;
    padding: 5px;
  }

  div.home div.home-map .map {
    min-height: 0;
    height: 340px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  div.home div.home-cover {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  div.home div.home-content {
    height: 650px;
  }

  div.home div.home-content div.home-search {
    padding: 20px;
    margin: 0 5%;
  }
}
