div.properties {
  display: flex;
  flex: 1 0 auto;
  transform: translate3d(0, 0, 0);
}

div.properties div.search {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.properties div.col-1 .map {
  margin-top: 20px;
  min-height: 0;
  height: 180px;
  margin-bottom: 3px;
}

div.properties div.col-1 .filter,
div.properties div.col-1 div.info-box {
  background-color: #fff;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  div.properties {
    flex: 0 1 auto;
    flex-direction: column;
  }

  div.properties .sc-search {
    width: 80%;
  }

  div.properties .new-property {
    margin: 20px 5px 5px 0;
    width: 100%;
  }

  div.properties div.col-1 {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.properties div.col-1 div.col-1-container {
    width: 100%;
    max-width: 480px;
  }

  div.properties .property-filter {
    text-align: left;
  }

  div.properties div.col-2 {
    margin-top: 3px;
    padding: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  div.properties div.col-1 .property-count {
    display: none;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  div.properties {
    flex-direction: row;
  }

  div.properties div.col-1 {
    width: 300px;
    margin-left: 20px;
  }

  div.properties div.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
  }

  div.properties div.search {
    margin-top: 15px;
  }

  div.properties .new-property {
    margin: 10px 5px 0 0;
    width: 100%;
  }
}
